<div class="container">
  <router-outlet></router-outlet>
</div>
<div class="footer-container row">
  <div class="col-md-6 d-flex justify-content-center">
    <div class="logo-con">
      <img src="../../../assets/img/logo-invert.png" alt="Bootstrap" class="logo-img">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet,.</p>
      <a href="#"><img src="../../../assets/img/instagram.png" alt="Bootstrap" class="social-media-img"></a>
      <a href="#"><img src="../../../assets/img/pinterest.png" alt="Bootstrap" class="social-media-img"></a>
    </div>
  </div>
  <div class="col-md-2 footer-links-con">
    <h5>HELP</h5>
    <div class="footer-links">
      <a href="#">Contact Us</a>
      <a href="#">FAQ</a>
      <a href="#">Accessibility</a>
      <a href="#">Privacy Policy</a>
      <a href="#">Terms of Service</a>
    </div>
  </div>
  <div class="col-md-2 footer-links-con">
    <h5>SHOP</h5>
    <div class="footer-links">
      <a href="#">Products</a>
      <a href="#">Deals</a>
      <a href="#">Delivery</a>
      <a href="#">Gift Cards</a>
    </div>
  </div>
  <div class="col-md-2 footer-links-con">
    <h5>ABOUT</h5>
    <div class="footer-links">
      <a href="#">Our Story</a>
      <a href="#">Testimonials</a>
      <a href="#">Sitemap</a>
    </div>
  </div>
  <div class="all-rights-con d-flex justify-content-center">
    <p>© 2024 Coffe Zero. All rights reserved.</p>
  </div>
</div>