<div class="main-container">
    <!-- Navigation -->
    <div class="main-navigation">
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <img src="../../../assets/img/logo.png" alt="Bootstrap" class="logo-img">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="flex-navbar collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Our Story</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact Us</a>
                        </li>
                        <button type="button" class="shop-btn btn btn-success">Shop Coffee</button>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!-- Hero Header -->
    <div class="hero-header-container">
        <div class="row header-contents">
            <div class="col-md-6 mobile-header-img">
                <img src="../../../assets/img/banner-img.png" class="img-fluid" alt="Coffee cup">
            </div>
            <div class="col-md-6 header-text">
                <h1>Perfect Caffeine Just For You To Keep You Healthier.</h1>
                <h4>Your coffee partner in achieving optimal health through Coffee Zero.</h4>
                <button type="button" class="shop-btn btn btn-success">Explore Products</button>
            </div>
            <div class="col-md-6 desktop-header-img">
                <img src="../../../assets/img/banner-img.png" class="img-fluid" alt="Coffee cup">
            </div>
        </div>
    </div>
    <!-- Coffee features -->
    <div class="coffee-features-container">
        <div class="title-container d-flex align-items-center justify-content-between">
            <h2>Our Coffee Zero Features</h2>
        </div>
        <div class="cards-container row gx-3 gy-3">
            <div class="col-sm-12 col-md-3">
                <div class="card p-1">
                    <div class="card-body">
                        <div class="card-header-con">
                            <img src="../../../assets/img/organic.png" class="coffe-pack-img img-fluid">
                            <div>
                                <h3>100% Organic</h3>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-12 col-md-3">
                <div class="card p-1">
                    <div class="card-body">
                        <div class="card-header-con">
                            <img src="../../../assets/img/health.png" class="coffe-pack-img img-fluid">
                            <div>
                                <h3>Healthier</h3>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-12 col-md-3">
                <div class="card p-1">
                    <div class="card-body">
                        <div class="card-header-con">
                            <img src="../../../assets/img/energy.png" class="coffe-pack-img img-fluid">
                            <div>
                                <h3>Energy Grow Up</h3>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div> 
            <div class="col-sm-12 col-md-3">
                <div class="card p-1">
                    <div class="card-body">
                        <div class="card-header-con">
                            <img src="../../../assets/img/weight.png" class="coffe-pack-img img-fluid">
                            <div>
                                <h3>Weight Loss</h3>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna.</p>
                    </div>
                </div>
            </div>       
        </div>
    </div>
    <!-- Best selling -->
    <div class="best-selling-container">
        <div class="title-container d-flex align-items-center justify-content-between">
            <h2>Best Selling Coffees</h2>
            <a href="#" class="hide-link">Shop More Coffees</a>
        </div>
        <div class="cards-container row gx-3 gy-3">
            <div class="col-sm-12 col-md-4">
                <div class="card p-1">
                    <div class="card-body">
                        <div class="card-header-con d-flex align-items-center">
                            <img src="../../../assets/img/coffee-one.png" class="coffe-pack-img img-fluid">
                            <div>
                                <p class="selling-trend">#1 Selling</p>
                                <h3>Intense Espresso</h3>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="card-footer-con d-flex justify-content-between align-items-center">
                            <h5>Rs. 3200</h5>
                            <button type="button" class="shop-btn btn btn-success">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-sm-12 col-md-4">
                <div class="card p-1 limited-stock-card">
                    <div class="stock-label">
                        <label>Limited Stocks</label>
                    </div>
                    <div class="card-body">
                        <div class="card-header-con d-flex align-items-center">
                            <img src="../../../assets/img/coffee-two.png" class="coffe-pack-img img-fluid">
                            <div>
                                <p class="selling-trend">#2 Selling</p>
                                <h3>Cafè Decaffeinated</h3>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="card-footer-con d-flex justify-content-between align-items-center">
                            <h5>Rs. 3200</h5>
                            <button type="button" class="shop-btn btn btn-success">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card p-1">
                    <div class="card-body">
                        <div class="card-header-con d-flex align-items-center">
                            <img src="../../../assets/img/coffee-one.png" class="coffe-pack-img img-fluid">
                            <div>
                                <p class="selling-trend">#3 Selling</p>
                                <h3>Crema e Gusto</h3>
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <div class="card-footer-con d-flex justify-content-between align-items-center">
                            <h5>Rs. 3200</h5>
                            <button type="button" class="shop-btn btn btn-success">Buy Now</button>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
        <div class="mobile-link title-container d-flex align-items-center justify-content-center">
            <a href="#">Shop More Coffees</a>
        </div>
    </div>
    <!-- How it helps -->
    <div class="help-container">
        <div class="title-container d-flex align-items-center justify-content-between">
            <h2>How It Helps You</h2>
        </div>
        <div class="images-container row gx-3 gy-3">
            <div class="col-sm-12 col-md-5">
                <div class="contents-con content-one">
                    <img src="../../../assets/img/help-one.png" class="help-img img-fluid">
                    <h3>Wake Up From Sleep</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 arrow-one">
                <img src="../../../assets/img/arrow.png" class="arrow-img-one mobile-arrow img-fluid">
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="contents-con content-two">
                    <img src="../../../assets/img/help-two.png" class="help-img img-fluid">
                    <h3>Workout & Drink Coffee Zero</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 mobile-arrow-two">
                <img src="../../../assets/img/arrow.png" class="arrow-img-two mobile-arrow img-fluid">
            </div>
            <div class="col-sm-12 col-md-5">
                <div class="contents-con content-one">
                    <img src="../../../assets/img/help-three.png" class="help-img img-fluid">
                    <h3>Get Healthier & Slim</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-2 arrow-two">
                <img src="../../../assets/img/arrow.png" class="arrow-img-two img-fluid">
                <img src="../../../assets/img/arrow.png" class="arrow-img-three mobile-arrow img-fluid">
            </div>
            <div class="col-sm-12 col-md-5 shop-btn-con">
                <div class="contents-con">
                    <button type="button" class="shop-btn btn btn-success">Shop Coffee</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial -->
    <div class="testimonial-container">
        <div class="title-container d-flex align-items-center justify-content-between">
            <h2>Our Testimonials</h2>
        </div>
        <div class="cards-container row gx-3 gy-3">
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-body p-4">
                        <h1>"</h1>
                        <p>I can't thank Nutritionist enough for their personalized nutrition coaching. It has completely transformed my approach to food and helped me shed those extra pounds. Highly recommended!</p>
                    </div>
                    <div class="card-footer-con d-flex align-items-center">
                        <img src="../../../assets/img/testimonial-one.png" class="testimonial-img img-fluid">
                        <p>Jennifer Anderson</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-body p-4">
                        <h1>"</h1>
                        <p>I can't thank Nutritionist enough for their personalized nutrition coaching. It has completely transformed my approach to food and helped me shed those extra pounds. Highly recommended!</p>
                    </div>
                    <div class="card-footer-con d-flex align-items-center">
                        <img src="../../../assets/img/testimonial-two.png" class="testimonial-img img-fluid">
                        <p>Robert Johnson</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="card">
                    <div class="card-body p-4">
                        <h1>"</h1>
                        <p>I can't thank Nutritionist enough for their personalized nutrition coaching. It has completely transformed my approach to food and helped me shed those extra pounds. Highly recommended!</p>
                    </div>
                    <div class="card-footer-con d-flex align-items-center">
                        <img src="../../../assets/img/testimonial-three.png" class="testimonial-img img-fluid">
                        <p>Emily Davis</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>